venv/
env/
ENV/
*.venv/
.vscode/

graf/
mediapipe/

__pycache__/
*.py[cod]
*$py.class

bin/
include/
lib/
lib64/
pyvenv.cfg
pip-selfcheck.json
.Python

*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.manifest
*.spec

*.exe
*.msi

.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

.ipynb_checkpoints

*.cfg
*.ini

*.log

temp/
tmp/
